<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lid info</title>
    <link rel="stylesheet" th:href="@{/css/mail.css}">
</head>
<body>
<dl th:if="${lid}" th:object="${lid}">
    <dt>Nummer:</dt>
    <dd th:text="*{id}"></dd>
    <dt>Voornaam:</dt>
    <dd th:text="*{voornaam}"></dd>
    <dt>Familienaam:</dt>
    <dd th:text="*{familienaam}"></dd>
    <dt>Email adres:</dt>
    <dd th:text="*{emailAdres}"></dd>
    <dt>Lid sinds:</dt>
    <dd th:text="*{lidSinds}"></dd>
</dl>
<div th:if="not ${lid}" class="fout">Niet gevonden</div>
</body>
</html>