<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registratie</title>
    <link rel="stylesheet" th:href="@{/css/mail.css}">
</head>
<body>
<h1>Registratie</h1>
<form th:object="${lid}" method="post" th:action="@{/leden}">
    <span th:errors="*{voornaam}" class="fout"></span>
    <input th:field="*{voornaam}" autofocus required placeholder="voornaam">
    <span th:errors="*{familienaam}" class="fout"></span>
    <input th:field="*{familienaam}" required placeholder="familienaam">
    <input th:field="*{emailAdres}" type="email" required placeholder="email adres">
    <span th:errors="*{emailAdres}" class="fout"></span>
    <button>Registreren</button>
</form>
</body>
</html>